Repository OllO-Station/ollo: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

adding configuration steps, removing extraneous data dir
  .github/workflows/codeql.yml
  README.md
  app/app.go
  cmd/config/coin.go
  cmd/config/denom.go
  cmd/config/prefix.go
  cmd/ollod/cmd/root.go
  cmd/ollod/main.go
  config.yml
  data/ollo-testnet-2/config/app.toml
  data/ollo-testnet-2/config/client.toml
  data/ollo-testnet-2/config/config.toml
  docs/README.md
  go.mod
  go.sum
  go.work.sum
  x/ollo/ibc/utils.go
Due: app, modules

renaming test dir, updating readme
  README.md
  test/keeper/claim.go
  test/keeper/inflation.go
  test/network/network.go
  test/nullify/nullify.go
  test/sample/sample.go
  test/wasm/module_test.go
  test/wasm/test_common.go
Due: none

reflecting updated test dir naming
  cmd/ollod/cmd/root.go
  x/loan/client/cli/query_loans_test.go
  x/loan/module_simulation.go
  x/loan/types/message_approve_loan_test.go
  x/loan/types/message_cancel_loan_test.go
  x/loan/types/message_liquidate_loan_test.go
  x/loan/types/message_repay_loan_test.go
  x/loan/types/message_request_loan_test.go
  x/market/module_simulation.go
  x/ons/client/cli/query_whois_test.go
  x/ons/module_simulation.go
  x/ons/types/message_add_thread_test.go
  x/ons/types/message_buy_name_test.go
  x/ons/types/message_del_thread_test.go
  x/ons/types/message_sell_name_test.go
  x/ons/types/message_set_name_test.go
Due: modules

updating readme, config.yml
  README.md
  config.yml
Due: none

updating readme
  README.md
Due: none

removing broken comments
  README.md
Due: none

fixing readme
  README.md
Due: none

Create .github/FUNDING.yml
  .github/FUNDING.yml
Due: none

adding more assets, updating readme
  README.md
  assets/blueplanet.jpg
  assets/light.jpg
  assets/redplanet.jpg
  assets/swirlplanet.jpg
Due: none

adding code of conduct and contributing emplate
  .golangci.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  go.mod
  go.sum
  go.work.sum
Due: none

keys cmd template, config.yml update, icq file bootstrap
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/custom.yml
  app/app.go
  cmd/ollod/cmd/keys.go
  cmd/ollod/cmd/root.go
  config.yml
  go.mod
  go.sum
  proto/ollo/icq/v1/events.proto
  proto/ollo/icq/v1/genesis.proto
  proto/ollo/icq/v1/icq.proto
  proto/ollo/icq/v1/params.proto
  proto/ollo/icq/v1/query.proto
  proto/ollo/icq/v1/tx.proto
  test/e2e/README.md
  test/sim/README.md
  x/icq/types/events.pb.go
  x/icq/types/genesis.pb.go
  x/icq/types/icq.pb.go
  x/icq/types/keys.go
  x/icq/types/params.pb.go
  x/icq/types/query.pb.go
  x/icq/types/tx.pb.go
Due: app, modules

bootstrapping icq
  go.mod
  go.sum
  proto/ollo/icq/v1/genesis.proto
  proto/ollo/icq/v1/icq.proto
  proto/ollo/icq/v1/packet.proto
  proto/ollo/icq/v1/params.proto
  proto/ollo/icq/v1/query.proto
  x/icq/README.md
  x/icq/client/cli/query.go
  x/icq/keeper/keeper.go
  x/icq/module.go
  x/icq/module_ibc.go
  x/icq/simulation/sim.go
  x/icq/spec/README.md
Due: modules

adding goreleaser, fixing icq proto
  .gitignore
  .goreleaser.yml
  config.yml
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/ollo/icq/v1/events.proto
  proto/ollo/icq/v1/genesis.proto
  proto/ollo/icq/v1/icq.proto
  x/icq/types/events.pb.go
  x/icq/types/genesis.pb.go
  x/icq/types/icq.pb.go
  x/icq/types/packet.pb.go
  x/icq/types/params.pb.go
  x/icq/types/query.pb.go
  x/icq/types/query.pb.gw.go
Due: none

updating tests, icq route
  go.mod
  go.sum
  proto/ollo/icq/v1/query.proto
  x/wasm/keeper/spec.channelKeeper
Due: modules

removing extraneous files
  x/wasm/keeper/spec.channelKeeper
Due: modules

removing extraneous workflows, protos
  .github/workflows/gosec.yml
  LICENSE
  config.yml
  docs/static/openapi.yml
  go.mod
  go.sum
  go.work.sum
  proto/ollo/auth/v1/auth.proto
  proto/ollo/auth/v1/events.proto
  proto/ollo/auth/v1/genesis.proto
  proto/ollo/auth/v1/params.proto
  proto/ollo/auth/v1/query.proto
  proto/ollo/auth/v1/tx.proto
  proto/ollo/icq/v1/genesis.proto
  proto/ollo/icq/v1/query.proto
  x/auth/README.md
  x/auth/keeper/keeper.go
  x/auth/simulation/sim.go
  x/auth/spec/README.md
  x/auth/types/auth.pb.go
  x/auth/types/events.pb.go
  x/auth/types/genesis.pb.go
  x/auth/types/params.pb.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
  x/auth/types/tx.pb.go
  x/icq/types/genesis.pb.go
  x/icq/types/query.pb.go
  x/icq/types/query.pb.gw.go
Due: modules

defining protobuf datatypes ofr icq, ons, nft, tok
  proto/ollo/grants/v1/events.proto
  proto/ollo/grants/v1/genesis.proto
  proto/ollo/grants/v1/grants.proto
  proto/ollo/icq/v1/events.proto
  proto/ollo/icq/v1/icq.proto
  proto/ollo/icq/v1/packet.proto
  proto/ollo/icq/v1/query.proto
  proto/ollo/icq/v1/tx.proto
  proto/ollo/market/v1/events.proto
  proto/ollo/market/v1/market.proto
  proto/ollo/nft/v1/events.proto
  proto/ollo/ons/v1/event.proto
  proto/ollo/ons/v1/events.proto
  proto/ollo/token/v1/events.proto
  proto/ollo/token/v1/token.proto
  x/grants/types/events.pb.go
  x/grants/types/genesis.pb.go
  x/grants/types/grants.pb.go
  x/icq/types/icq.pb.go
  x/icq/types/packet.pb.go
  x/icq/types/query.pb.go
  x/icq/types/tx.pb.go
  x/market/types/events.pb.go
  x/market/types/market.pb.go
  x/market/types/packet.pb.go
  x/nft/types/events.pb.go
  x/ons/types/event.pb.go
  x/ons/types/events.pb.go
  x/token/types/events.pb.go
  x/token/types/token.pb.go
Due: none

Change tollo to ollo
  assets/assetlist.json
  assets/chain.json
  cmd/config/config.go
  cmd/ollod/cmd/balances.go
  cmd/ollod/cmd/genesis.go
  running_script.sh
  scripts/ollod.env
  scripts/testnet/local.sh
  seed_node.sh
Due: none

Update max supply
  running_script.sh
Due: none

updated script
  running_script.sh
Due: none

add seed_node script
  seed_node.sh
Due: none

updated script
  assets/assetlist.json
  cmd/ollod/cmd/genesis.go
  running_script.sh
Due: none

updated seed script
  seed_node.sh
Due: none

update the script
  running_script.sh
Due: none

change deposit logic
  x/liquidity/keeper/pool.go
Due: modules

update deposit logic
  x/liquidity/keeper/pool.go
Due: modules

fixed add liquidity logic
  x/liquidity/keeper/pool.go
Due: modules

Path conditions:
  app: any of: app/, but not: cmd/, data/, docs/, tools/, assets/, scripts/, *.md, x/**/*.pb.go, x/**/*.pb.gw.go, x/**/test_common.go
  modules: any of: x/, but not: x/**/client/, cmd/, data/, docs/, tools/, assets/, scripts/, *.md, x/**/*.pb.go, x/**/*.pb.gw.go, x/**/test_common.go
  client: any of: x/**/client/, but not: cmd/, data/, docs/, tools/, assets/, scripts/, *.md, x/**/*.pb.go, x/**/*.pb.gw.go, x/**/test_common.go
